.item{
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  img{
    width: 50%;
  }
  .info{
    width: 46%;
    display: inline-block;
    padding: 2%;
    vertical-align: top;
  }
  span{
    color: #fff;
  }
}